<h1 class="text-center">Test page for RxJS</h1>
<h2 class="text-center">Creational operators</h2>

<div class="container" id="operatordescription">
    <div class="row">
        <div class="col-sm-12">
            <span>The ways howto
                <b>create</b> observable stream</span>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-3">

            <div class="card">
                <div class="card-header">
                    Observable .interval(1000)
                </div>
                <div class="card-block">
                    <p class="card-text">{{value1$ | async}}</p>
                </div>
            </div>

        </div>
        <div class="col-sm-3">

            <div class="card">
                <div class="card-header">
                    Observable .of(["a","b","c","d"]])
                </div>
                <div class="card-block">
                    <p class="card-text">{{value2$ | async}}</p>
                </div>
            </div>

        </div>
        <div class="col-sm-3">

            <div class="card">
                <div class="card-header">
                    Observable .from(["a","b","c","d"]])
                </div>
                <div class="card-block">
                    <p class="card-text">{{value3$ | async}}</p>
                </div>
            </div>

        </div>
        <div class="col-sm-3">
            <div id="asdf" class="card">
                <div class="card-header">
                    Observable .fromEvent(document, "mousemove"])
                </div>
                <div class="card-block">
                    <p class="card-text">{{value4$ | async}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<h2 class="text-center">Utility operators</h2>
<div class="container" id="operatordescription">
    <div class="row">
        <div class="col-sm-12">
            <span>The ways howto
                <b>get</b> values from a observable stream</span>
        </div>
    </div>
</div>


<div class="container" id="description">
    <div class="row">
        <div class="col-sm-12">
            <span>".subscribe()" is a basic operator for getting values from stream</span>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3">

            <div class="card">
                <div class="card-header">
                    .subscribe()
                </div>
                <div class="card-block">
                    <p class="card-text">{{value1_subscribe}}</p>
                </div>
            </div>

        </div>
        <div class="col-sm-3">

            <div class="card">
                <div class="card-header">
                    .subscribe()
                </div>
                <div class="card-block">
                    <p class="card-text">{{value2_subscribe}}</p>
                </div>
            </div>

        </div>
        <div class="col-sm-3">

            <div class="card">
                <div class="card-header">
                    .subscribe()
                </div>
                <div class="card-block">
                    <p class="card-text">{{value3_subscribe}}</p>
                </div>
            </div>

        </div>
        <div class="col-sm-3">
            <div id="asdf" class="card">
                <div class="card-header">
                    .subscribe()
                </div>
                <div class="card-block">
                    <p class="card-text">{{value4_subscribe}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" id="description">
    <div class="row">
        <div class="col-sm-12">
            <span>".do()" operator doesn't change the value !!! Only for logging</span>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3">

            <div class="card">
                <div class="card-header">
                    .do()
                </div>
                <div class="card-block">
                    <p class="card-text">{{value1_do}}</p>
                </div>
            </div>

        </div>
        <div class="col-sm-3">

            <div class="card">
                <div class="card-header">
                    .do()
                </div>
                <div class="card-block">
                    <p class="card-text">{{value2_do}}</p>
                </div>
            </div>

        </div>
        <div class="col-sm-3">

            <div class="card">
                <div class="card-header">
                    .do()
                </div>
                <div class="card-block">
                    <p class="card-text">{{value3_do}}</p>
                </div>
            </div>

        </div>
        <div class="col-sm-3">
            <div id="asdf" class="card">
                <div class="card-header">
                    .do()
                </div>
                <div class="card-block">
                    <p class="card-text">{{value4_do}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<h2 class="text-center">Transformation</h2>
<div class="container" id="operatordescription">
    <div class="row">
        <div class="col-sm-12">
            <span>The ways howto
                <b>'horizontal combine / modify'</b> stream - One stream</span>
        </div>
    </div>
</div>
<div class="container" id="description">
    <div class="row">
        <div class="col-sm-12">
            <span>".map()" operator is basic operator for changing value from a stream</span>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header">
                    .map()
                </div>
                <div class="card-block">
                    <p class="card-text">{{value1_map}}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header">
                    .map()
                </div>
                <div class="card-block">
                    <p class="card-text">{{value2_map}}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header">
                    .map()
                </div>
                <div class="card-block">
                    <p class="card-text">{{value3_map}}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header">
                    .map()
                </div>
                <div class="card-block">
                    <p class="card-text">{{value4_map}}</p>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container" id="description">
    <div class="row">
        <div class="col-sm-12">
            <span>".mapTo()" operator change every value to </span>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header">
                    .mapTo()
                </div>
                <div class="card-block">
                    <p class="card-text">{{value1_mapto}}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header">
                    .mapTo()
                </div>
                <div class="card-block">
                    <p class="card-text">{{value2_mapto}}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header">
                    .mapTo()
                </div>
                <div class="card-block">
                    <p class="card-text">{{value3_mapto}}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header">
                    .mapTo()
                </div>
                <div class="card-block">
                    <p class="card-text">{{value4_mapto}}</p>
                </div>
            </div>
        </div>
    </div>
</div>