h2{
    border: 1px solid black;
    background-color: lightgray;
}

#operatordescription{
    background-color: lightsalmon;
    width: 100%;
}


#description{
    border: 1px solid black;
    background-color: lightyellow;
}

.container{
    width: 100% !important;
}

.myattention{
    background-color: lightcoral;
}

.mydisable{
    background-color: lightgray;
}