<h2 class="text-center">Creational operators</h2>
<div class="container" id="operatordescription">
  <div class="row">
    <div class="col-sm-12">
      <span>The ways howto
        <b>create</b> observable stream</span>
    </div>
  </div>
</div>

<div>
  Original value: {{value1}}
</div>



<h2 class="text-center">Transformation</h2>
<div class="container" id="operatordescription">
    <div class="row">
        <div class="col-sm-12">
            <span>The ways howto
                <b>'horizontal combine / modify'</b> stream into another stream
            </span>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3">

            <div class="card">
                <h3 class="card-header">.map()</h3>
                <img class="card-img-top" src="assets/img/map.png" alt="Card image cap">
            </div>

        </div>
        <div class="col-sm-3">

            <div class="card">
                <h3 class="card-header">.concatMap()</h3>
                <img class="card-img-top" src="assets/img/concatmap.png" alt="Card image cap">
            </div>

        </div>
        <div class="col-sm-3">

            <div class="card">
                <h3 class="card-header">.mergeMap() = .flatMap()</h3>
                <img class="card-img-top" src="assets/img/flatmap.png" alt="Card image cap">
            </div>

        </div>

        <div class="col-sm-3">

            <div class="card">
                <h3 class="card-header">.switchMap()</h3>
                <img class="card-img-top" src="assets/img/switchmap.png" alt="Card image cap">
            </div>
        </div>

    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-3">

            <div class="card">
                <div class="card-header">
                    return value + "x";
                </div>
                <div class="card-block">
                    <p class="card-text">{{value1_a}}</p>
                </div>
            </div>

        </div>
        <div class="col-sm-3">

            <div class="card">
                <div class="card-header">
                    return Observable.of(value+ "x");
                </div>
                <div class="card-block">
                    <p class="card-text">{{value1_b}}</p>
                </div>
            </div>

        </div>
        <div class="col-sm-3">

            <div class="card">
                <div class="card-header">
                    return Observable.of(value+ "x");
                </div>
                <div class="card-block">
                    <p class="card-text">{{value1_c}}</p>
                </div>
            </div>

        </div>

        <div class="col-sm-3">

            <div class="card">
                <div class="card-header">
                    return Observable.of(value+ "x");
                </div>
                <div class="card-block">
                    <p class="card-text">{{value1_d}}</p>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3">

            <div class="card mydisable">
                <div class="card-header">
                    return Observable.interval(1000)
                </div>
                <div class="card-block">
                    <p class="card-text">CAN'T</p>
                </div>
            </div>

        </div>
        <div class="col-sm-3">

            <div class="card">
                <div class="card-header">
                    return Observable.interval(1000)
                </div>
                <div class="card-block">
                    <p class="card-text">{{value2_b}}</p>
                </div>
            </div>

        </div>
        <div class="col-sm-3">

            <div class="card">
                <div class="card-header">
                    return Observable.interval(1000)
                </div>
                <div class="card-block">
                    <p class="card-text">{{value2_c}}</p>
                </div>
            </div>

        </div>

        <div class="col-sm-3">

            <div class="card">
                <div class="card-header">
                    return Observable.interval(1000)
                </div>
                <div class="card-block">
                    <p class="card-text">{{value2_d}}</p>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3">

            <div class="card mydisable">
                <div class="card-header">
                    return Observable.of(value + "x") .Delay(randomNumber)
                </div>
                <div class="card-block">
                    <p class="card-text">CAN'T</p>
                </div>
            </div>

        </div>
        <div class="col-sm-3">

            <div class="card myattention">
                <div class="card-header">
                    return Observable.of(value + "x") .Delay(randomNumber)
                </div>
                <div class="card-block">
                    <p class="card-text">{{value3_b}}</p>
                </div>
            </div>

        </div>
        <div class="col-sm-3">

            <div class="card myattention">
                <div class="card-header">
                    return Observable.of(value + "x") .Delay(randomNumber)
                </div>
                <div class="card-block">
                    <p class="card-text">{{value3_c}}</p>
                </div>
            </div>

        </div>

        <div class="col-sm-3">

            <div class="card myattention">
                <div class="card-header">
                    return Observable.of(value + "x") .Delay(randomNumber)
                </div>
                <div class="card-block">
                    <p class="card-text">{{value3_d}}</p>
                </div>
            </div>

        </div>

    </div>
</div>





<div class="alert alert-success" role="alert">
    <strong>ATTENTION! Try multiple clicks (for example 10x) and look at values in mergeMap, switchMap, concatMap</strong>
</div>